@import "../../app/globals.scss";

.navbarContainer {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentContainer {
  height: 100%;
  width: 100%;
  padding: 8px 30px 0px;
  display: flex;
  align-items: flex-end;
}
.content {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  button {
    all: unset;
    width: 109px;
    height: 26px;
    flex-shrink: 0;
    color: #24424d;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid #24424d;
  }
}
