@import "../../app/globals.scss";

.addressListContainer {
  height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.addressList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 17px;
  a {
    margin-left: 5px;
    width: 90%;
    height: 100%;
  }
}

.address {
  margin-left: 5px;
  color: #24424d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.lastHr {
  width: 300px;
  border: none;
  height: 0.5px;
  background: #24424d;
}
