@import "../../app/globals.scss";

.container {
  color: $dark-green;
  width: 282px;
  display: flex;
  justify-content: space-between;
}

.div1 {
  display: flex;
}

.txt {
  font-size: 12px;
  font-style: normal;
  line-height: 15px; /* 125% */
}

.fontNormal {
  font-weight: 400;
}

.fontBold {
  font-weight: 600;
}

.div2 p {
  margin-left: 5px;
  margin-right: 12px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.div3 {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.div3Aling {
  margin-bottom: 0px;
  margin-top: 10px;
  text-align: right;
}

.statusContainer {
  display: flex;
  align-items: center;
}

.statusText {
  all: unset;
  text-align: right;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px; /* 150% */
  text-transform: uppercase;
  margin-left: 3px;
  background: $light-grey;
}

.button {
  all: unset;
  color: $dark-green;
  background-color: transparent;
  width: 62px;
  height: 20px;
  flex-shrink: 0;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid $dark-green;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}
