@import "../../../app/globals.scss";

.addPackagesContainer {
  font-size: 12px;
}

.addPackagesContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 13px;
  width: 300px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 15px;
  background: $white;
}

.content {
  margin-left: 14px;
  margin-right: 14px;
}

.input {
  all: unset;
  width: 100%;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  border-bottom: 0.1px solid #24424d9c;
  &::placeholder {
    color: $dark-green;
  }
}

.divDate {
  margin-top: 55px;
  color: $dark-green;
}

.labelInputDate {
  all: unset;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.15px;
}

.inputDate {
  all: unset;
  width: 96%;
  display: flex;
  align-items: center;
  margin-top: 3px;
  padding: 3px 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  border-radius: 5px;
  border: 0.5px solid #24424d9c;
  &::placeholder {
    color: $dark-green;
  }
}
.button {
  margin-bottom: 30px;
}
