@import "../../app/globals.scss";

.headerContainer {
  width: 300px;
  height: 40px;
  margin-top: 28px;
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 15px;
  background: #80cf8b;
}
.contentContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: $light-yellow;
}
.content {
  width: 100%;
  margin: 0 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark-green;
  font-size: 18px;
  text-transform: uppercase;
  a {
    all: unset;
  }
}
