@import "../../../app/globals.scss";

.registerContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-green;
}
.contentContainer {
  width: 300px;
  height: 505px;
  position: relative;
  margin-top: 10px;
  border-radius: 15px;
  background: #fefefe;
}
.blur {
  filter: blur(1px);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-green;
  .iconContainer {
    width: 96px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: #ebecef;
    border-radius: 30px;
  }
  .registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      height: 20px;
      width: 260px;
      margin: 0px 0px 22px;
      color: #162a31;
      border: none;
      border-bottom: 1px solid #24424d91;

      &:focus {
        outline: none;
      }
    }
    .inputPasswordContainer {
      position: relative;
      .eyeContainer {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  .registerForm > input:first-of-type {
    margin-top: 20px;
  }
  button {
    align-self: unset;
  }
  .firstButtonContainer {
    width: 90%;
    margin-top: calc(20px);
  }
  .loginButton {
    width: 270px;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-green;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #24424d;
  }
  a {
    all: unset;
  }
}

.errorText {
  font-size: 11px;
  color: lightcoral;
  text-align: center;
}

.errorText::placeholder {
  color: lightcoral;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 50%;
  background: radial-gradient(farthest-side, $dark-green 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#1d352f00 30%, $dark-green);
  mask: "";
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}
