@import "../../app/globals.scss";

.packagesList {
  width: 300px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-height: 215px;
  margin-top: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-block;
  flex-shrink: 0;
  background-color: $white;
  padding-top: 1px;
  margin-bottom: 10px;
  z-index: 2;
}

.backgronudPaddingTop {
  width: 300px;
  height: 15px;
  margin-top: -15px;
  margin-bottom: -2px;
  background-color: $white;
  z-index: 1;
}

.packagesNumber {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.hr {
  width: 270px;
  height: 0.3px;
  margin-left: 10px;
  background: #24424d;
}

.boxTrash {
  margin-left: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.lastHr {
  width: 300px;
  height: 0.6px;
  background: #24424d;
}

.vector {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.vectorContainer {
  padding-top: 15px;
  margin-top: -25px;
  width: 300px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: $white;
  z-index: 1;
}

.vectorContainer:hover {
  cursor: pointer;
}

.textContainer {
  margin-left: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $dark-green;
  h5 {
    all: unset;
    margin: 5px 0;
    font-weight: 700;
    font-size: 14px;
  }
  p {
    all: unset;
    width: 67px;
    text-align: center;
    margin: 0px 0;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    background: $light-green;
  }
}

.divDelivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 48px;
  background: $light-yellow;
  border-radius: 15px;
  z-index: 3;
}

.divDelivery:hover {
  cursor: pointer;
}

.pendingDeliveryMargin {
  margin-top: 25px;
}

.divDeliveryTexts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.arrow {
  margin-right: 15px;
}

.textDelivery {
  all: unset;
  margin-bottom: -5px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.15px;
  text-transform: uppercase;
}

.textDeliveryNotFound {
  all: unset;
  font-size: 12px;
  font-weight: 500;
}
