@import "../../../app/globals.scss";

.addPackagesContainer {
  width: 100%;
  height: 100vh;
  color: $dark-green;
  font-size: 12px;
  background-color: $light-green;
}

.addPackagesContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.packagesList {
  width: 300px;
  height: 332px;
  flex-shrink: 0;
  border-radius: 15px;
  background-color: #fefefe;
  padding-top: 30px;
  margin-top: -28px;
  margin-bottom: 10px;
  z-index: 1;
}

.packagesNumber {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.hr {
  width: 270px;
  height: 0.5px;
  margin-left: 10px;
  background: #24424d;
}

.boxTrash {
  margin-left: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.lastHr {
  width: 300px;
  margin-top: 30px;
  height: 0.5px;
  background: #24424d;
}

.vector {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.welcomeCardContainer {
  width: 300px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px;
  border-radius: 15px;
  background-color: #fefefe;
}
.welcomeCard {
  display: flex;
  justify-content: space-between;
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
}
.profileImage {
  width: 57px;
  height: 60px;
  border-radius: 15px;
  background-color: $dark-green;
}

.deliveryManData {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textContainer {
  margin-left: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $dark-green;
  h5 {
    all: unset;
    margin: 5px 0;
    font-weight: 700;
    font-size: 14px;
  }
  p {
    all: unset;
    width: 67px;
    text-align: center;
    margin: 0px 0;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    background: $light-green;
  }
}

.divDelivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 48px;
  padding: 0px 20px;
  background: $light-yellow;
  border-radius: 15px;
  z-index: 2;
}

.pendingDeliveryMargin {
  margin-top: 25px;
}

.divDeliveryTexts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textDelivery {
  all: unset;
  margin-bottom: -5px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.15px;
  text-transform: uppercase;
}

.textDeliveryNotFound {
  all: unset;
  font-size: 12px;
  font-weight: 500;
}

.buttonGetPackages {
  margin-top: 10px;
}
