@import "../../../app/globals.scss";

.packagesContainer {
  width: 100%;
  height: 100vh;
  color: $dark-green;
  font-size: 12px;
  background-color: $light-green;
}

.packagesContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonGetPackages {
  margin-top: 10px;
}
