@import "../../../app/globals.scss";

.packagesContainer {
  margin-top: 17px;
  color: $dark-green;
  font-size: 12px;
  background-color: $light-green;
}

.packagesContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    width: 100%;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
  }
}

.buttonGetPackages {
  width: 84%;
  margin-top: 20px;
}
