@import "../../../app/globals.scss";

.addPackagesContainer {
  color: $dark-green;
  font-size: 12px;
  margin-bottom: 30px;
}

.addPackagesContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 10px;
}

.packagesList {
  width: 300px;
  max-height: 383px;
  flex-shrink: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: $white;
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-block;
  z-index: 2;
}

.headList {
  width: 300px;
  height: 35px;
  border-radius: 15px 15px 0px 0px;
  background-color: $light-violet;
  .bold {
    font-weight: 600;
  }
}
.headList > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.headList > div > h1 {
  color: $dark-green;
  font-size: 14px;
  font-style: normal;
  text-decoration: solid;
}
.headList > div h1:first-child {
  text-transform: uppercase;
}

.month {
  margin-left: 20px;
}

.day {
  margin-right: 20px;
  font-weight: 400;
}

.packagesNumber {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.hr {
  width: 270px;
  border: none;
  height: 0.5px;
  background: #24424d;
}

.boxTrash {
  margin-left: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.lastHr {
  width: 300px;
  margin-top: 30px;
  border: none;
  height: 0.5px;
  background: #24424d;
}

.vector {
  display: flex;
  justify-content: center;
  margin-top: 13px;
  margin-bottom: 13px;
}

.vectorContainer {
  margin-top: -15px;
  padding-top: 15px;
  width: 300px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: $white;
  z-index: 1;
}

.vectorContainer:hover {
  cursor: pointer;
}

.button {
  width: 82%;
  margin-top: 12px;
}
