@import "../../../app/globals.scss";

.swornDeclarationContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.declarationContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: center;
 margin-top: 10px;
}
.declarationContainer > div {
  width: 300px;
  height: max-content;
  background-color: $white;
  border-radius: 15px;
  margin-bottom: 10px;
}

.cuestion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.cuestion > text{
  text-align: center;
  color: #24424ddb;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto ;
  padding: 0 10px;
}
.cuestion > p{
  text-align: center;
  color: #24424da9;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 0px;
  padding: 0 20px;
}

.line{
  width: 100%;
  height: 0.5px;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.867);
}
.customRadio{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: max-content;
  align-items: center;
  align-content: center;
 justify-content: center;
 margin-left: -30px;
}
.customRadio > label{
text-transform: capitalize; 
display: flex;
flex-direction: row;
align-items:end;
align-content:center;
margin-left:30px;

}
.customRadio > label > input{
  width: 20px;
  height: 20px;
  margin-right: 6px;
}
.customRadio > label > input:checked{
  width: 20px;
  height: 20px;
}
.span{
position:relative;
top: 8px; 
left: 10px;
font-size:10px;
color: #24424d;
width: max-content;
height: max-content;
border-radius: 5px;
padding: 1px 10px;
margin-bottom: 0px;
background-color: $light-violet;;
}
.btnContinue{
  margin-top: 25px;
}