@import "../../app/globals.scss";

.loginContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $dark-green;
  font-size: 12px;
  background-color: $dark-green;
}
.loginContentContainer {
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 15px;
  background-color: $light-green;
}

.heigthContentContainer1 {
  height: 280px;
}

.heigthContentContainer2 {
  height: 310px;
}

.logoContainer {
  width: 204px;
  height: 69px;
  position: absolute;
  top: -34.5px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 15px 0px;
  background: $light-yellow;
}
.content {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    margin: 30px 0px 15px;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-decoration: underline;
  }
  .subtitle {
    text-align: center;
  }
  .inputPasswordContainer {
    width: 100%;
    position: relative;
    .eyeContainer {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.input {
  all: unset;
  width: 100%;
  margin-top: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  border-bottom: 0.1px solid #24424d9c;
  &::placeholder {
    color: $dark-green;
  }
}

.buttonLogin {
  margin: 38px 0 17px 0;
  height: 16px;
  padding: 8px 22px;
}

.buttonSignUp {
  margin-bottom: 17px;
  display: flex;
  width: 270px;
  height: 30px;
  padding: 8px 22px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  background: transparent;
  border-radius: 10px;
  color: $dark-green;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.displayNone {
  display: none;
}

.buttonRecoverPassword {
  all: unset;
  text-decoration-line: underline;
}
