@import "../../app/globals.scss";

.recoverPasswordContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $dark-green;
  font-size: 12px;
  background-color: $dark-green;
}
.recoverPasswordContentContainer {
  height: 315px;
  width: 300px;
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: $light-green;
}

.content {
  width: 85%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  .backButton {
    all: unset;
    width: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 0;
    border-bottom: 1px solid $dark-green;
  }
  .header {
    margin: 30px 0px 8px;
    font-size: 18.5px;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-align: center;
    text-decoration: underline;
  }
  .subtitle {
    text-align: center;
  }
  .inputPasswordContainer {
    width: 96%;
    position: relative;
    .eyeContainer {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.input {
  all: unset;
  width: 100%;
  margin-top: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  border-bottom: 0.1px solid #24424d9c;
  &::placeholder {
    color: $dark-green;
  }
}
.errorText {
  padding-top: 12px;
  margin-bottom: -12px;
  font-size: 12px;
  color: hsla(11, 80%, 45%, 1);
  text-align: center;
}
.buttonLogin {
  margin: 38px 0 17px 0;
  height: 16px;
  width: 200px;
}
