$light-green: #80cf8b;
$dark-green: #24424d;
$darker-green: #122e38;
$light-yellow: #cef169;
$light-violet: #cec4f4;
$white: #fefefe;
$light-grey: #ebecef;
$orange: #ef7709;

body.body {
  margin: 0;
  padding: 0;
  background-color: $light-green;
  a {
    text-decoration: unset;
    color: unset;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    &:hover {
      cursor: pointer;
    }
  }
  button {
    &:hover {
      cursor: pointer;
    }
  }
}
.form {
  width: 100%;
}
.unauthorizedDiv {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  h3 {
    margin: 35vh 0 0 0;
    letter-spacing: 1.7px;
  }
  .unathorizedP {
    width: 80%;
    margin: 5px 0 0 0;
    text-align: center;
    text-decoration: underline;
  }
  button {
    width: 120px;
    height: 30px;
    margin-top: 20px;
    color: $dark-green;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #24424d;
  }
}
