$light-green: #80cf8b;
$dark-green: #24424d;
$darker-green: #122e38;
$light-yellow: #cef169;
$light-violet: #cec4f4;
$white: #fefefe;
$light-grey: #ebecef;
$orange: #ef7709;

body.body {
  margin: 0;
  padding: 0;
  background-color: $light-green;
  a {
    text-decoration: unset;
    color: unset;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    &:hover {
      cursor: pointer;
    }
  }
  button {
    &:hover {
      cursor: pointer;
    }
  }
}
