@import "../../app/globals.scss";

.buttonStyle {
  display: flex;
  width: 270px;
  height: 30px;
  padding: 8px 22px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  background: $dark-green;
  border-radius: 10px;
  border: none;
  color: $light-yellow;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.buttonStyle:hover {
  cursor: pointer;
}
