@import "../../app/globals.scss";

.buttonStyle {
  height: 30px;
  width: 100%;
  color: $light-yellow;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background: $dark-green;
  border-radius: 10px;
  border: none;
}

.buttonStyle:hover {
  cursor: pointer;
}
